version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example_root_password
      MYSQL_DATABASE: example_db
      MYSQL_USER: example_user
      MYSQL_PASSWORD: example_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  flask_app:
    build: ./flask_app
    container_name: flask_app
    restart: always
    ports:
      - "5000:5000"
    environment:
      FLASK_ENV: development
    depends_on:
      - mysql
volumes:
  mysql_data:
